.usersForm {
  margin-bottom: 35px;
}
.select {
  margin-left: 10px;
  position: relative;
  display: inline-block;
  select {
    background-color: #2F3336;
    color: #D9D9D9;
    padding: 7px 3px;
  }
}
.input {}
.button {}