.setImage {
  transition: opacity .2s;
  background: #2F3336;
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &.active {
    transition: opacity .2s;
    opacity: 0.9;
  }
  .select {
    margin: 10px auto;
    span {
      cursor: pointer;
    }
  }
  input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
}