.profileData{
  margin-top: 25px;
  font-size: 20px;
  line-height: 25px;
  .information{

  }
  .editMode {
    margin-top: 10px;
    padding: 10px 20px;
    background: #2F3336;
    color: #D9D9D9;
  }
}