form {
  display: flex;
  flex-direction: column;
  .password {
    align-self: flex-start;
    margin-top: 15px;
    position: relative;
    .passwordControl {
      cursor: pointer;
      position: absolute;
      bottom: 15%;
      right: -30px;
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23D9D9D9' d='M.2 10a11 11 0 0 1 19.6 0A11 11 0 0 1 .2 10zm9.8 4a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 1 0-4 2 2 0 0 1 0 4z'/%3E%3C/svg%3E%0A");
    }
    .hiddenPasswordControl {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23D9D9D9' d='M12.81 4.36l-1.77 1.78a4 4 0 0 0-4.9 4.9l-2.76 2.75C2.06 12.79.96 11.49.2 10a11 11 0 0 1 12.6-5.64zm3.8 1.85c1.33 1 2.43 2.3 3.2 3.79a11 11 0 0 1-12.62 5.64l1.77-1.78a4 4 0 0 0 4.9-4.9l2.76-2.75zm-.25-3.99l1.42 1.42L3.64 17.78l-1.42-1.42L16.36 2.22z'/%3E%3C/svg%3E");
    }
  }
  input {
    padding: 8px;
    background: #2F3336;
    color: #D9D9D9;
  }
  input+input {
    margin-top: 15px;
  }
  label {
    color: #D9D9D9;
    margin-top: 15px;
  }
  textarea {
    padding: 8px;
    width: 100%;
    height: 100%;
    resize: none;
    background: #2F3336;
    color: #D9D9D9;
  }
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #2F3336;
    color: #D9D9D9;
    &:disabled {
      opacity: 0.6;
      cursor: default;
    }
  }
}